@font-face {font-family: Mark-pro;  src: url(../assets/fonts/FontFont-MarkPro-Bold.ttf);  }
@font-face {font-family: Mark-pro;  src: url(../assets/fonts/FontFont-MarkPro-Bold.eot);  }
@font-face {font-family: Mark-pro;  src: url(../assets/fonts/FontFont-MarkPro-Bold.woff);  }