// Colors
$BackgroundColor: #1B1A26;
$color-white: #f9f9fa;
$color-yellow: #FFFF00;

//Fonts
$main-font: 'Rubik', sans-serif;
$secundary-font: Mark-pro ;

//fonts dimensions
$regular: 400;
$light: 300;
$bold: 700;